div{
    border: black solid 1px
}
.gridp{
    display: grid ;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 2em;
}
.fantasy{
    font-family: fantasy;
    padding: 1em
    
}
.lucida{
    font-family: 'Lucida Sans', ;
    padding: 1em
}
.gill{
    font-family: 'Gill Sans',; 
    padding: 1em
}
p{
    font-size: 1em
}
.cambria{
    font-family: Cambria,;
    padding: 1em
}
.grid2p{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 2em;
}
.smol{
    font-size: 0.7em;
    line-height: 1.6em;
}
section{
    padding-top:  1em;
    padding-bottom: 1em;

}
.accent{
    color: maroon;
    text-align: center;
    font-style: italic;
}
.poster{
    background-color: darkgrey;
    font-family: Impact;
    text-align: center;
    font-size: 4em;
}
.box{
    background-color: grey; 
}