body{font-family: 'Times New Roman', Times, serif; background-color: rgba(199, 79, 230, 0.993)}
.class{color: darkmagenta}
a{text-decoration: none;}
a:visited{color: darkmagenta}
a:hover{color: lime}
p:hover{color: lime}